---
---

// Text
$section-headings-color: #67eaa9 !default;
$body-text-color: #b2a89b !default;
$body-link-color: #65ace6 !default;

@import "{{ site.theme }}";

.page-header {
    background-color: unset;
    background-image: url("https://raw.githubusercontent.com/Tetrax-10/letterboxd-bio/main/assets/images/banner.jpg");
    background-position: center;
    position: relative;
}
