---
---

@import "{{ site.theme }}";

.page-header {
    background-color: unset;
    background-image: url("https://raw.githubusercontent.com/Tetrax-10/letterboxd-bio/main/assets/images/banner.jpg");
    background-position: center;
    position: relative;
}
